<div [formGroup]="itemsForm">
    <h2>Items:</h2>
    <div formArrayName="items">
      <div
        *ngFor="let item of itemsFormArray.controls; let i = index"
        [formGroupName]="i"
        class="item-form flex flex-col gap-4 mt-4 border-gray-900 border-[1px] px-2 py-2 rounded-lg"
      >
        <div class="flex gap-4 items-center">
          <input
            type="text"
            formControlName="name"
            placeholder="Item Name"
            class="dark:bg-black border-gray-900 border-[1px] p-2 rounded-lg text-xs w-[10rem]"
          />
          <input
            type="number"
            formControlName="quantity"
            placeholder="Quantity"
            (input)="calculateTotal(i)"
            class="dark:bg-black border-gray-900 border-[1px] p-2 rounded-lg text-xs w-[10rem]"
          />
          <input
            type="number"
            formControlName="price"
            placeholder="Price"
            (input)="calculateTotal(i)"
            class="dark:bg-black border-gray-900 border-[1px] p-2 rounded-lg text-xs w-[10rem]"
          />
        </div>
  
        <div class="flex gap-4 items-center">
          <input
            type="number"
            formControlName="total"
            placeholder="Total"
            class="dark:bg-black border-gray-900 border-[1px] p-2 rounded-lg text-xs w-[10rem]"
          />
          <input
            type="text"
            formControlName="description"
            placeholder="Description"
            class="dark:bg-black border-gray-900 border-[1px] p-2 rounded-lg text-xs w-[10rem]"
          />
          <button
            *ngIf="itemsFormArray.controls.length > 1"
            type="button"
            class="bg-red-500 text-white rounded-md px-2 flex justify-center items-center w-[10rem] text-sm"
            (click)="removeItem(i)"
          >
            <mat-icon fontIcon="delete"></mat-icon> Remove
          </button>
        </div>
      </div>
    </div>
  
    <button
      type="button"
      class="bg-white text-gray-900 w-full rounded-md py-1 mt-4 text-sm font-semibold flex justify-center items-center"
      (click)="addItem()"
    >
      <mat-icon fontIcon="add"></mat-icon> Add Item
    </button>
  </div>
  