<div class="basis-1/2 flex-grow border-gray-900 border-[1px] p-4 rounded-lg">
    <h2 class="outfit-font uppercase font-bold text-xl">Invoice</h2>
    <p class="text-xs">Generate Invoices</p>
    <div class="flex gap-2 mt-4">
        <div *ngFor="let item of menuItems; trackBy: currentSelectedMenu">
            <app-button
              (click)="getMenuClickHandler(item.value)"
                [variant]="currentSelectedMenu() === item.value ? 'cta' : 'secondary'"
            >
              {{ item.name }}
            </app-button>
          </div>
          

    </div>
    <div class="mt-4">
        
        @switch (currentSelectedMenu()) {
            @case ('from&to') {
                <app-from-and-to ></app-from-and-to>
            }
            @case ('invoice') {
                <app-invoice-details ></app-invoice-details>
            }
            @case ('items') {
                <app-items></app-items>
            }
            @case ('payment') {
                <app-payment-info></app-payment-info>
            }
            @case ('summary') {
                <app-summary></app-summary>
            }
            @default {
                <app-from-and-to></app-from-and-to>
            }
        }
    </div>
</div>